<div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>New Gateway Demo</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card text-center text-white bg-success mb-3">
            <div class="card-body">
              <h3 class="card-title">REST service</h3>
              <p class="card-text">Simple REST calls to Backend services</p>
              <a routerLink="/rest" href="#" class="btn btn-primary">Test</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center text-white bg-info mb-3">
            <div class="card-body">
              <h3 class="card-title">Reactive service</h3>
              <p class="card-text">Backend service are reactive</p>
              <a routerLink="/reactive" href="#" class="btn btn-primary">Test</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center text-white bg-success mb-3">
              <div class="card-body">
                <h3 class="card-title">Websocket service</h3>
                <p class="card-text">Websocket service</p>
                <a routerLink="/websocket" href="#" class="btn btn-primary">Test</a>
              </div>
            </div>
          </div>
      </div>
</div>